# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv_file = "../WeatherPy/weather_df.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,mataura,99,NZ,1643614523,78,-46.1927,168.8643,18.04,0.63
1,1,kodiak,0,US,1643614524,79,57.7900,-152.4072,-7.27,3.60
2,2,torbay,87,CA,1643614524,83,47.6666,-52.7314,1.99,2.68
3,3,puerto ayora,0,ES,1643614525,68,36.5939,-6.2330,6.81,2.06
4,4,tiksi,100,RU,1643614525,98,71.6872,128.8694,-24.06,1.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [10]:
#turn humidity into float and drop any NaNs
weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

# Store 'Lat' and 'Lng' into  locations. 
locations = weather_df[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heatmap = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 4)

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the DataFrame to find your ideal weather condition.
ideal_weather_df = weather_df

# Drop any rows that don't contain all three conditions. Want to be sure the weather is ideal.

# A max temperature lower than 30 C but higher than 20 C
ideal_weather_df = ideal_weather_df.loc[(ideal_weather_df["Max Temp"] < 30) & (ideal_weather_df["Max Temp"] > 20)]

# dont mind a bit of wind, good for a surf
ideal_weather_df = ideal_weather_df.loc[ideal_weather_df["Wind Speed"] >5]

# too much humidity is unpleasant
ideal_weather_df = ideal_weather_df.loc[ideal_weather_df["Humidity"] <= 50]

# Drop any rows with nothing values
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.drop('Unnamed: 0',axis = 1)

ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
10,busselton,39,AU,1643614526,32,-33.6500,115.3333,26.16,9.04
201,pathein,6,MM,1643614568,29,16.7833,94.7333,29.81,5.82
358,rivadavia,86,AR,1643614607,28,-33.1905,-68.4608,23.97,6.29
397,xuddur,100,SO,1643614615,36,4.1213,43.8894,28.78,8.63

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_weather_df

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("No hotels found... skipping.")
        
    print("------------")

Retrieving Results for Index 10: busselton.
Closest hotel is Observatory Guest House.
------------
Retrieving Results for Index 201: pathein.
Closest hotel is New Pammawaddy Hotel.
------------
Retrieving Results for Index 358: rivadavia.
Closest hotel is Posada Del Fin Del Mundo.
------------
Retrieving Results for Index 397: xuddur.
Closest hotel is Banjanay Hotel.
------------

In [7]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
10,busselton,39,AU,1643614526,32,-33.6500,115.3333,26.16,9.04,Observatory Guest House
201,pathein,6,MM,1643614568,29,16.7833,94.7333,29.81,5.82,New Pammawaddy Hotel
358,rivadavia,86,AR,1643614607,28,-33.1905,-68.4608,23.97,6.29,Posada Del Fin Del Mundo
397,xuddur,100,SO,1643614615,36,4.1213,43.8894,28.78,8.63,Banjanay Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Assign the marker layer to a variable
locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations)

# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)
# Add the layer to the map
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))